{% extends 'base.html.twig' %}

{% block title %}Manage City{% endblock %}

{% block main %}
    <h1 class="container text-center">Gérer les villes</h1>
    <h2 class="text-left">Filtrer les villes</h2>
 {{ form_start(form_filtered) }}
    {{ form_widget(form_filtered) }}
    <button>Rechercher</button>
    {{ form_end(form_filtered) }}
    {% for city in filteredCities %}
    {{ city.name }}
        {{ city.zipCode }}
    {% endfor %}
<table class="table">
    <thead class="sticky-top">
    <tr>
        <th id="campusName" scope="row" class="txtTh neonText">Ville</th>
        <th id="campusZipCode" scope="row" class="txtTh neonText">Code Postal</th>
        <th id="actions" scope="row" class="txtTh neonText">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for city in cities %}
    <tr>
            <td>{{ city.name }}</td>
            <td>{{ city.zipCode }}</td>
        <td><a href="#" class="text-decoration-none">Modifier</a> -
            <a href="#" class="text-decoration-none">Supprimer</a></td>
    </tr>
    {% endfor %}
    {{ form_start(form_city) }}
    <tr>
        <td>{{ form_row(form_city.name ) }}</td>
        <td>{{ form_row(form_city.zipCode) }}</td>
        <td><button type="submit">Ajouter</button></td>

    </tr>
    {{ form_end(form_city) }}
    </tbody>

</table>


{% endblock %}