{% extends 'base.html.twig' %}

{% block title %}Manage City{% endblock %}

{% block main %}
    <h1 class="effetneon">Gérer les villes</h1>
    <h2 class="txtCampus neonText">Filtrer les villes</h2>
    <div class="formFilterCampusContainer">
    {{ form_start(form_filtered) }}
    <div class="formFilterCampusSubContainer">
        {{ form_label(form_filtered.name) }}
        {{ form_widget(form_filtered.name) }}
        <div class="btnAdminSearch">
            <button type="submit" class="btnFilterCamp">Rechercher</button>
            <a href="{{ path('app_admin_manage_city') }}">
                <i class="fa-solid fa-arrows-rotate fa-xl effetneon"></i>
            </a>
        </div>
    </div>
    {{ form_end(form_filtered) }}

    <table class="tableCampus">
        <thead class="sticky-top">
        <tr>
            <th class="labelTabCamp" scope="row">Ville</th>
            <th class="labelTabCamp" scope="row">Code Postal</th>
            <th class="labelTabAction" scope="row">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% if filteredCities == null %}
            {% for city in cities %}
                <tr id="trTabCamp">
                    <td class="tdName">{{ city.name }}</td>
                    <td class="tdName">{{ city.zipCode }}</td>
                    <td class="tdAction">
                        <a href="#" id="city_edit" title="{{ city.id }}" class="text-decoration-none fa-xl effetneon"><i
                                    class="fa-solid fa-pen-to-square"></i></a>
                        <a href="{{ path('app_city_delete',{'id' : city.id}) }}"
                           class="text-decoration-none fa-xl effetneon"><i class="fa-solid fa-trash-can"></i></a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            {% for city in filteredCities %}
                <tr id="trTabCamp">
                    <td class="tdName">{{ city.name }}</td>
                    <td class="tdName">{{ city.zipCode }}</td>
                    <td class="tdAction">
                        <a href="#" id="city_edit" title="{{ city.id }}" class="text-decoration-none fa-xl effetneon"><i
                                    class="fa-solid fa-pen-to-square"></i></a>
                        <a href="{{ path('app_city_delete',{'id' : city.id}) }}"
                           class="text-decoration-none fa-xl effetneon"><i class="fa-solid fa-trash-can"></i></a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        <tr class="trTabCamp">
            {{ form_start(form_city) }}
            <td class="tdName">
                {{ form_row(form_city.name ) }}
            </td>
            <td class="tdName">{{ form_row(form_city.zipCode) }}</td>
            <td class="tdAction">
                <button class="btnTdAction " type="submit">
                    <i class="fa-solid fa-circle-plus fa-xl"></i>
                </button>
            </td>

        </tr>
        {{ form_end(form_city) }}
        </tbody>

    </table>


{% endblock %}