{% extends 'base.html.twig' %}

{% block main %}
    <h2>Annuler une sortie</h2>
    <div class="detailRow">
        <label for="name">Nom de la sortie :</label>
        <p id="name">{{ hangout.name }}</p>
    </div>
    <div class="detailRow">
        <label for="date">Date de la sortie :</label>
        <p id="date">{{ hangout.startTime|date }}</p>
    </div>
    <div class="detailRow">
        <label for="campus">Campus :</label>
        <p id="campus">{{ hangout.campusOrganizerSite.name }}</p>
    </div>
    <div class="detailRow">
        <label for="place">Lieu :</label>
        <p id="place">{{ hangout.place.name }}</p>
    </div>
    {{ form_start(form) }}
    <div class="detailRow">
    {{ form_label(form.reason) }}
    {{ form_widget(form.reason) }}
    </div>
    <button type="submit">Enregistrer</button>
    <button type="reset">Annuler</button>
    {{ form_end(form) }}
{% endblock %}