{% extends 'base.html.twig' %}

{% block title %}Hello HangoutController!{% endblock %}

{% block main %}
    <h2>Créer une sortie</h2>
    <div class="block-form">

    <div class="createHangoutContainer ">
        {{ form_start(form, {attr: {novalidate: 'novalidate', class: 'formContainer'}}) }}

        <table class="newHangoutFormTableClass">
            <tbody>
                <tr>{#ligne 1#}
                    <td>{{ form_label(form.name) }}</td>
                    <td>{{ form_widget(form.name) }}</td>
                    <td>{{ form_label(form.campusOrganizerSite) }}</td>
                    <td>{{ form_widget(form.campusOrganizerSite) }}</td>
                </tr>
                <tr>{#ligne 2#}
                    <td>{{ form_label(form.startTime) }}</td>
                    <td>{{ form_widget(form.startTime) }}</td>
                    <td>{{ form_label(form.city) }}</td>
                    <td>{{ form_widget(form.city) }}</td>
                </tr>
                <tr>{#ligne 3#}
                    <td>{{ form_label(form.registerDateLimit) }}</td>
                    <td>{{ form_widget(form.registerDateLimit) }}</td>
                    <td>{{ form_label(form.place) }}</td>
                    <td>{{ form_widget(form.place) }}
                            <button type="button" class="btnAddPlace" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i id="addPlace" class="fa-solid fa-circle-plus" size="40"></i>
                            </button>
                        </td>
                </tr>
                <tr>{#ligne 4#}
                    <td>{{ form_label(form.MaxOfRegistration) }}</td>
                    <td>{{ form_widget(form.MaxOfRegistration) }}</td>
                    <td>{{ form_label(form.street) }}</td>
                    <td>{{ form_widget(form.street) }}</td>
                </tr>
                <tr>{#ligne 5#}
                    <td>{{ form_label(form.duration) }}</td>
                    <td>{{ form_widget(form.duration) }}</td>
                    <td>{{ form_label(form.zip) }}</td>
                    <td>{{ form_widget(form.zip) }}</td>

                </tr>
                <tr>{#ligne 6#}
                    <td>{{ form_label(form.hangoutInformations) }}</td>
                    <td>{{ form_widget(form.hangoutInformations) }}</td>
                    <td>{{ form_label(form.latitude) }}</td>
                    <td>{{ form_widget(form.latitude) }}</td>
                </tr>
            <tr>{#ligne 7#}
                <td></td>
                <td></td>
                <td>{{ form_label(form.longitude) }}</td>
                <td>{{ form_widget(form.longitude) }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="block-buttons">
        <button id="hangout-save-button" type="submit" name="save" class="btn btn-lg btn-primary">Enregister</button>
        {#  <a href="{{ path('app_hangout_publish', {id: hangout.id}) }}" id="surCoucheBtn" type="submit" class="btn btn-primary" >
                    Publier la sortie
                </a> #}
        <button id="hangout-punblish-button" name="submit" value="published" type="submit" class="btn btn-lg btn-primary">
            Publier la sortie
        </button>

        <button id="hangout-cancel-button" type="button" class="btn btn-lg btn-primary"><a
                    style="text-decoration: none;" href="{{ path('app_home') }}">Annuler</a></button>
    </div>

    </div>
    {{ form_end(form) }}

    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
