{% extends 'base.html.twig' %}

{% block title %}Hello HangoutController!{% endblock %}

{% block main %}
    <div class="containerFormFilter">
        {{ form_start(filterForm) }}
        <div class="headFilter">
            <div class="rowInpt">
                {{ form_row(filterForm.campusOrganizerSite) }}
            </div>
            <div class="rowInpt">
                {{ form_row(filterForm.name) }}
            </div>
            <div class="rowInptDate">
                sortie/s entre {{ form_row(filterForm.startDate) }}
            </div>
            <div class="rowInptDate">
                et {{ form_row(filterForm.endDate) }}
            </div>

            <div class="containerBtnSearch">
                <button type="submit" class="btnSerch" value="Rechercher">
                    <i class="fa-solid fa-magnifying-glass fa-l"></i>
                </button>
                <button type="button" class="btnAddPlace" data-bs-toggle="modal" data-bs-target="#modalMoreSearch">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-filter-circle btnAddPlace" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M7 11.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="text-center">

        </div>
        <!-- Modal -->
        <div class="modal fade" id="modalMoreSearch" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="labelModal">Plus de filtres</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="modal-content">
                        <div class="headFilterCheck">
                            <div class="rowInptFilterS">
                                {{ form_row(filterForm.isOrganizer) }}<p class="txtCheckFltr">Sorties dont je suis
                                    l'organisateur/trice</p>
                            </div>
                            <div class="rowInptFilterS">
                                {{ form_row(filterForm.isSubscribe) }}<p class="txtCheckFltr">Sorties auxquelles je suis
                                    inscrit/e</p>
                            </div>
                            <div class="rowInptFilterS">
                                {{ form_row(filterForm.isNotSuscribe) }}<p class="txtCheckFltr">Sorties auxquelles je ne
                                    suis pas
                                    inscrit/e</p>
                            </div>
                            <div class="rowInptFilterS">
                                {{ form_row(filterForm.isHangoutPassed) }}<p class="txtCheckFltr">Sorties passées</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Retour</button>
                        <button type="submit" class="btn btn-outline-primary" value="Rechercher">
                            Trouver une sortie
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {% for message in app.flashes('notice') %}
            <div id="msgFlashNotice" class="alert alert-info alert-dismissible fade show slideRight">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        {{ form_end(filterForm) }}
    </div>



    <div id="ticketContainer" class="slideUp">
        {% for hangout in hangouts %}
            <div class="ticketHangout  effetneon">

                <div class="rowTicket">
                    <p class="pTicket">Nom de la sortie</p>
                    <p id="nameHang" class="effetneon">{{ hangout.name }}</p>
                </div>

                <div class="rowTicket">
                    <p class="pTicket">Date de la sortie</p>
                    <p>{{ hangout.startTime |format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</p>
                </div>

                <div class="rowTicket">
                    <p class="pTicket">Clôture</p>
                    <p>{{ hangout.registerDateLimit |format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</p>
                </div>

                <div class="rowTicket">
                    <p class="pTicket">inscriptions/places</p>
                    {% if  hangout.hangouts|length ==  hangout.MaxOfRegistration %}
                        <p>COMPLET</p>
                    {% else %}
                        <p>{{ hangout.hangouts|length }}/{{ hangout.MaxOfRegistration }}</p>
                    {% endif %}
                </div>

                <div class="rowTicket">
                    <p class="pTicket">Etat</p>
                    <p>{{ hangout.status.label }}</p>
                </div>

                <div class="rowTicket">
                    <p class="pTicket">Inscrit</p>
                    {% if app.user in hangout.hangouts %}
                        <p><i class="fa-solid fa-check fa-xl effetneon"></i></p>
                    {% else %}
                        <p></p>
                    {% endif %}
                </div>

                <div class="rowTicket">
                    <p class="pTicket">Organisateur</p>
                    {% if hangout.organizer.image != null %}
                        <p>
                            <a href="{{ path('app_user',{'pseudo': hangout.organizer.pseudo}) }}">
                                <img src="{{ asset('photos/'~hangout.organizer.image) }}" alt="Photo de profil"
                                     class="miniPP">
                            </a>
                        </p>
                    {% else %}
                        <p>
                            <a href="{{ path('app_user',{'pseudo': hangout.organizer.pseudo}) }}">
                                {{ hangout.organizer.pseudo }}
                            </a>
                        </p>
                    {% endif %}
                </div>

                <div class="rowTicket">
                    <p class="pTicket">Actions</p>
                    <div class="actionsContainer">
                        {#
                        si la sortie est passée ou close ou annulé ou achivée
                        #}
                        {% if hangout.status.id == 3 or hangout.status.id == 4 or hangout.status.id == 5 or hangout.status.id == 6 or hangout.status.id == 7 and  hangout.organizer.id != app.user.id %}
                            <a class="actionsList" href="{{ path('app_hangout_detail', {id: hangout.id}) }}"
                               title="hangout  details">
                                <i class="fa-regular fa-eye fa-lg"></i>
                            </a>
                        {% else %}
                            {#
                            //si l'organisateur n'est pas l'user
                            #}
                            {% if  hangout.organizer.id != app.user.id %}
                                <a class="actionsList" href="{{ path('app_hangout_detail', {'id': hangout.id}) }}"
                                   title="hangout  details">
                                    <i class="fa-regular fa-eye fa-lg"></i>
                                </a>
                                {#
                                //si l'user n'est pas inscrit dans la sortie et qu'il reste des places et que la date limit n'est pas passé .
                                #}
                                {% if app.user not in hangout.hangouts and hangout.hangouts|length < hangout.maxOfRegistration and hangout.registerDateLimit > date() %}
                                    <a class="actionsList"
                                       href="{{ path('app_hangout_register',{'HangoutId': hangout.id}) }}"
                                       title="subrcibe to hangout">
                                        <i class="fa-solid fa-person-circle-plus fa-xl"></i>
                                    </a>
                                {% endif %}
                                {% if app.user in hangout.hangouts and app.user != hangout.organizer and hangout.registerDateLimit > date() %}
                                    <a class="actionsList"
                                       href="{{ path('app_hangout_withdraw', {'HangoutId': hangout.id}) }}"
                                       title="withdraw">
                                        <i class="fa-solid fa-person-circle-minus fa-xl"></i>
                                    </a>
                                {% endif %}
                            {% else %}
                                <a class="actionsList" href="{{ path('app_hangout_cancel', {'id': hangout.id}) }}"
                                   title="cancel hangout">
                                    <i class="fa-solid fa-ban fa-lg"></i>
                                </a>
                                <a class="actionsList" href="{{ path('app_hangout_edit', {id: hangout.id}) }}"
                                   title="hangout  update">
                                    <i class="fa-regular fa-pen-to-square fa-lg"></i>
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}



