{% extends 'base.html.twig' %}

{% block title %}Hello HangoutController!{% endblock %}

{% block main%}
    <div class="topInfoPage">
        <div>
            <p>Date du jour :  {{ "now"|date("m/d/Y") }}</p>
        </div>
        <div>
            <p>Participant : {{ app.user.name }}</p>
        </div>
    </div>
    {{ form_start(filterForm) }}
    {{ form_widget(filterForm) }}
    <div class="m-2">
        <input type="submit" class="btn-primary" value="Rechercher">
    </div>
    {{ form_end(filterForm) }}
        <div id="tabScroll" >
            <table class="table">
                    <thead class="sticky-top bg-white">
                    <tr>
                        <th scope="col" class="noBorder">Nom de la sortie</th>
                        <th scope="col">Date de la sortie</th>
                        <th scope="col">Clôture</th>
                        <th scope="col">inscriptions/places</th>
                        <th scope="col">Etat</th>
                        <th scope="col">Inscrit</th>
                        <th scope="col">Organisateur</th>
                        <th scope="col">action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for hangout in hangouts %}
                            <tr>
                                <th scope="row"  class="noBorder">{{ hangout.name }}</th>
                                <td >{{ hangout.startTime |date('Y-m-d H:i') }}</td>
                                <td>{{ hangout.registerDateLimit |date('Y-m-d')  }}</td>
                                <td>{{ hangout.hangouts|length}}/{{ hangout.MaxOfRegistration}}</td>
                                <td>{{ hangout.status.label }}</td>
                                {% if app.user in hangout.hangouts  %}
                                  <td><i class="fa-solid fa-check"></i></td>
                                {% else %}
                                  <td></td>
                                {% endif %}
                                <td>{{ app.user.name }}</td>
                                <td>
                                    {% if app.user %}
                                    <a href="{{ path('app_hangout_detail', {id: hangout.id}) }}" title="hangout  details">Afficher</a>
                                        {% if hangout.organizer.id == app.user.id %}
                                       - <a href="{{ path('app_hangout_delete', {id: hangout.id}) }}" title="delete hangout">Annuler</a>
                                        {% endif %}
                                        {% if app.user in hangout.hangouts  %}
                                          -  <a href="{{ path('app_hangout_edit', {id: hangout.id}) }}" title="withdraw">Se désister</a>
                                        {% endif %}
                                    {% endif %}
                                </td>

                            </tr>

                               {# <a href="{{ path('app_hangout_edit', {id: hangout.id}) }}" title="View this wish in details">{{ hangout.name }} </a>#}

                        {% endfor %}
                    </tbody>
                </table>
        </div>
    <a class="newHang" href="{{ path('app_hangout_create') }}" title="create a new hangout">Créer une sortie <i class="fa-solid fa-calendar-plus"></i></a>


{% endblock %}
