{% extends 'base.html.twig' %}

{% block main %}
    <div class="userInfoContainer slideRight">
        <div class="infoUserRowPP effetneon" >
        <img class="userPP" src="{{ asset('photos/'~user.image)}}" alt="Photo de profil">
            <h2>{{ user.pseudo }}</h2>
        </div>
        <div class="infoUserRow">
            <label class="effetneon" for="name">Prénom :</label>
            <p id="name">{{ user.name }}</p>
        </div>
        <div class="infoUserRow">
            <label class="effetneon" for="lastname">Nom :</label>
            <p id="lastname">{{ user.lastName }}</p>
        </div>
        <div class="infoUserRow effetneon">
            <label class="effetneon" for="phone">Téléphone :</label>
{#
            {{ user.phone }}</p>
#}
            <p id="phone"><i class="fa-solid fa-eye"></i></p>
        </div>
        <div class="infoUserRow effetneon">
            <label class="effetneon" for="email">Email :</label>
{#
            <p id="email">{{ user.email }}</p>
#}
            <p id="email"> <i class="fa-solid fa-eye"></i></p>
        </div>
        <div class="infoUserRow">
            <label class="effetneon" for="campus">Campus :</label>
            <p id="campus">{{ user.campus.name }}</p>
        </div>
    </div>
{% endblock %}