{% extends 'base.html.twig' %}

{% block main %}

    




    {{ form_start(editUserForm) }}
    {% if app.user.image != null %}
    <img src="{{ asset('photos/'~app.user.image)}}" alt="Photo de profil" height="200">
    {% else %}
        <img src="{{ asset('photos/user-default.png')}}" alt="Photo de profil" height="96">
    {% endif %}
    <div class="container text-center">
        <h1>Mon profil</h1>
    </div>

    <div class="" >


        <div class="row">
            <div class="col-6">{{ form_label(editUserForm.pseudo) }} :</div>
            <div class="col-6">{{ form_row(editUserForm.pseudo) }}</div>
        </div>

        <div class="row">
            <div class="col-6">{{ form_label(editUserForm.name) }} :</div>
            <div class="col-6">{{ form_row(editUserForm.name) }}</div>
        </div>

        <div class="row">
            <div class="col-6">{{ form_label(editUserForm.lastName) }} :</div>
            <div class="col-6">{{ form_row(editUserForm.lastName) }}</div>
        </div>
        <div class="row">
            <div class="col-6">{{ form_label(editUserForm.phone) }} :</div>
            <div class="col-6">{{ form_row(editUserForm.phone) }}</div>
        </div>
        <div class="row">
            <div class="col-6">{{ form_label(editUserForm.email) }} :</div>
            <div class="col-6">{{ form_row(editUserForm.email) }}</div>
        </div>
        <div class="row">
            {#    <div class="col-6">{{ form_label(editUserForm.plainPassword) }} :</div>
        <div class="col-6">{{ form(editUserForm.plainPassword) }}</div> #}
            <div class="col-6">{{ form_label(editUserForm.password) }} :</div>
            <div class="col-6 no-gutters">{{ form_row(editUserForm.password) }}</div>
        </div>
        <div class="row">
            <div class="col-6 ">{{ form_label(editUserForm.plainPassword) }} :</div>
            <div class="col-6 no-gutters">{{ form_row(editUserForm.plainPassword) }}</div>
        </div>
        <div class="row">
            <div class="col-6">{{ form_label(editUserForm.campus) }} :</div>
            <div class="col-6">{{ form_row(editUserForm.campus) }}</div>
        </div>
        <div class="row">
           {% if app.user.image == null %}
        {{ form_label(editUserForm.image) }}
    {% else %}
    {{ form_label(editUserForm.image,'modifier ma photo de profil') }}
    {% endif %}
    {{ form_row(editUserForm.image) }}
    </div>
        <div class="text-center">

    <button type="submit">Enregistrer</button>
        </div>
    </div>


    {{ form_end(editUserForm) }}

{% endblock %}

{% block title %}
    {{ app.user.name }} | {{ app.user.lastname }}
{% endblock %}

