{% extends 'base.html.twig' %}

{% block main %}
    {{ form_start(editUserForm) }}

<div class="container text-center">
    <h1 class="effetneon">Mon profil</h1>
</div>
<div class="profile-vue-page">
    <div class="profile-form-container">
        <div class="block-image">
            {% if app.user.image != null %}
                <img src="{{ asset('photos/'~app.user.image) }}" alt="Photo de profil" height="200">
                {% else %}
                <img src="{{ asset('photos/user-default.png') }}" alt="Photo de profil" height="96">
            {% endif %}
        </div>
        <div class="block-form-profile">
            <table class="profile-table">
                <tbody class="profile-tbody">
                <tr>{# ligne 1 #}
                    <td class="profile-td"></td>
                    <td class="profile-td">{{ form_label(editUserForm.pseudo) }} :
                    </td>
                    <td class="profile-td">{{ form_widget(editUserForm.pseudo) }}</td>
                </tr>
                <tr>{# ligne 2 #}
                    <td class="profile-td"></td>
                    <td class="profile-td">{{ form_label(editUserForm.name) }} :</td>
                    <td class="profile-td">{{ form_widget(editUserForm.name) }}</td>
                </tr>
                <tr>{# ligne 3 #}
                    <td class="profile-td"></td>
                    <td class="profile-td">{{ form_label(editUserForm.lastName) }} :</td>
                    <td class="profile-td">{{ form_widget(editUserForm.lastName) }}</td>
                </tr>
                <tr>{# ligne 4 #}
                    <td class="profile-td"></td>
                    <td class="profile-td">{{ form_label(editUserForm.phone) }} :</td>
                    <td class="profile-td">{{ form_widget(editUserForm.phone) }}</td>
                </tr>
                <tr>{# ligne 5 #}
                    <td class="profile-td"></td>
                    <td class="profile-td">{{ form_label(editUserForm.email) }} :</td>
                    <td class="profile-td">{{ form_widget(editUserForm.email) }}</td>
                </tr>
                <tr>{# ligne 6 #}
                    <td class="profile-td"></td>
                    <td class="profile-td">{{ form_label(editUserForm.password) }} :</td>
                    <td class="profile-td">{{ form_widget(editUserForm.password) }}</td>
                </tr>
                <tr>{# ligne 7 #}
                    <td class="profile-td"></td>
                    <td class="profile-td">{{ form_label(editUserForm.plainPassword) }} :</td>
                    <td class="profile-td">{{ form_widget(editUserForm.plainPassword) }}</td>
                </tr>
                <tr>{# ligne 8 #}
                    <td class="profile-td"></td>
                    <td class="profile-td">{{ form_label(editUserForm.campus) }} :</td>
                    <td class="profile-td">{{ form_widget(editUserForm.campus) }}</td>
                </tr>
                <tr>{# ligne 9 #}
                    <td class="profile-td"></td>

                    <td class="profile-td">{% if app.user.image == null %}
                            {{ form_label(editUserForm.image) }}
                        {% else %}
                            {{ form_label(editUserForm.image,'modifier ma photo de profil') }}
                        {% endif %}</td>
                    <td class="profile-td">{{ form_widget(editUserForm.image) }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

        <button class="btn btn-lg btn-primary" type="submit">Enregistrer</button>
</div>


    {{ form_end(editUserForm) }}

    {% endblock %}

    {% block title %}
        {{ app.user.name }} | {{ app.user.lastname }}
    {% endblock %}

